# 1.Single inheritance
1.  1 child 1 parent class.

In [11]:
class Person:
    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age

    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")

In [23]:
class Emp(Person):
    def __init__(self, name: str, age: int, company: str):
        super().__init__(name, age)
        self.company = company

    def work(self):
        print(f"I work at {self.company}")

In [24]:
p1 = Person(name="Om", age=21)
print(type(p1))

<class '__main__.Person'>

In [25]:
p1.name

'Om'

In [26]:
p1.age

21

In [27]:
p1.intro()

My name is Om
I am 21 years old

In [28]:
e1 = Emp(name="Arya", age=21, company="TCS")
print(type(e1))

<class '__main__.Emp'>

In [29]:
e1.name

'Arya'

In [30]:
e1.age

21

In [31]:
e1.company

'TCS'

In [33]:
e1.work()

I work at TCS

In [35]:
e1.intro()  # here intro funct gets inherited from parent class

My name is Arya
I am 21 years old

In [37]:
e1.intro()
e1.work()

My name is Arya
I am 21 years old
I work at TCS

# Pydantic 
- used for data validation in inheritance.
- Conditions in pydantic
1) ge=greater than or equal to
2) le=less than or equal to
3) gt=greater than
4) lt=less than
- base = used in pydantic for validation of data
- field = used to add some checks to data

In [65]:
from pydantic import BaseModel, Field
from typing import Literal

In [66]:
class Student(BaseModel):
    roll_no: int = Field(ge=101, le=1000)
    name: str = Field(max_length=20)
    age: int = Field(ge=18, le=100)
    marks: float = Field(ge=0.0, le=100.0)
    gender: Literal["male", "female"]
    hobbies: list[str] = Field(default_factory=list)

    def get_student_info(self):
        print(f"Roll Number : {self.roll_no}")
        print(f"Name : {self.name}")
        print(f"Marks : {self.marks}")
        print(f"Gender : {self.gender}")
        print(f"Hobbies : {self.hobbies}")

In [67]:
s1 = Student(
    roll_no=101,
    name="Raman",
    age=25,
    marks=85.3,
    gender="male",
    hobbies=["cricket", "singing"],
)

In [68]:
s1.roll_no

101

In [69]:
s1.name

'Raman'

In [70]:
s1.age

25

In [71]:
s1.marks

85.3

In [72]:
s1.gender

'male'

In [73]:
s1.hobbies

['cricket', 'singing']

In [74]:
s1.get_student_info()

Roll Number : 101
Name : Raman
Marks : 85.3
Gender : male
Hobbies : ['cricket', 'singing']

In [75]:
s1

Student(roll_no=101, name='Raman', age=25, marks=85.3, gender='male', hobbies=['cricket', 'singing'])

In [76]:
print(s1)

roll_no=101 name='Raman' age=25 marks=85.3 gender='male' hobbies=['cricket', 'singing']

In [77]:
s1.model_dump

In [78]:
s2 = Student(roll_no=105.2, name=12, age=200, marks=-5.3, hobbies="singing", gender="M")

ValidationError: 6 validation errors for Student
roll_no
  Input should be a valid integer, got a number with a fractional part [type=int_from_float, input_value=105.2, input_type=float]
    For further information visit https://errors.pydantic.dev/2.11/v/int_from_float
name
  Input should be a valid string [type=string_type, input_value=12, input_type=int]
    For further information visit https://errors.pydantic.dev/2.11/v/string_type
age
  Input should be less than or equal to 100 [type=less_than_equal, input_value=200, input_type=int]
    For further information visit https://errors.pydantic.dev/2.11/v/less_than_equal
marks
  Input should be greater than or equal to 0 [type=greater_than_equal, input_value=-5.3, input_type=float]
    For further information visit https://errors.pydantic.dev/2.11/v/greater_than_equal
gender
  Input should be 'male' or 'female' [type=literal_error, input_value='M', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/literal_error
hobbies
  Input should be a valid list [type=list_type, input_value='singing', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/list_type

In [79]:
s3 = Student(
    roll_no=102,
    name="Priya",
    age=33,
    marks=67.5,
    gender="female",
)

In [80]:
s3

Student(roll_no=102, name='Priya', age=33, marks=67.5, gender='female', hobbies=[])

In [81]:
s3.get_student_info()

Roll Number : 102
Name : Priya
Marks : 67.5
Gender : female
Hobbies : []

In [82]:
# model dump function is inherited from BaseModel
s3.model_dump()

{'roll_no': 102,
 'name': 'Priya',
 'age': 33,
 'marks': 67.5,
 'gender': 'female',
 'hobbies': []}

# Multiple Inheritance

In [7]:
class BaseSalary:

    def __init__(self, salary: float):
        self.salary = salary

    def get_base_salary(self) -> float:
        return self.salary

In [8]:
class Bonus:

    def __init__(self, bonus_per: float):
        self.bonus_per = bonus_per

    def calulate_bonus(self, base_salary: float) -> float:
        return (self.bonus_per / 100) * base_salary

In [9]:
class Tax:

    def __init__(self, tax_per: float):
        self.tax_per = tax_per

    def calculate_tax(self, gross_salary: float) -> float:
        return (self.tax_per / 100) * gross_salary

In [10]:
class TotalSalary(BaseSalary, Bonus, Tax):

    def __init__(self, salary: float, bonus_per: float, tax_per: float):
        BaseSalary.__init__(self, salary)
        Bonus.__init__(self, bonus_per)
        Tax.__init__(self, tax_per)

    def calculate_total_salary(self) -> dict[str, float]:
        base_sal = self.get_base_salary()
        bonus = self.calulate_bonus(base_sal)
        gross_sal = base_sal + bonus
        tax = self.calculate_tax(gross_sal)
        net_sal = gross_sal - tax
        return {
            "base_salary": base_sal,
            "bonus": bonus,
            "gross_salary": gross_sal,
            "tax": tax,
            "net_salary": net_sal,
        }

In [11]:
s1 = TotalSalary(salary=50_000.0, bonus_per=12.0, tax_per=10.0)
print(type(s1))

<class '__main__.TotalSalary'>

In [12]:
s1.salary

50000.0

In [13]:
s1.bonus_per

12.0

In [14]:
s1.tax_per

10.0

In [15]:
salary_details = s1.calculate_total_salary()
print(salary_details)

{'base_salary': 50000.0, 'bonus': 6000.0, 'gross_salary': 56000.0, 'tax': 5600.0, 'net_salary': 50400.0}

In [16]:
s1.get_base_salary()

50000.0

In [17]:
s2 = TotalSalary(salary=1_00_000.0, bonus_per=25.0, tax_per=15.0)
print(type(s2))

<class '__main__.TotalSalary'>

In [18]:
sal_details2 = s2.calculate_total_salary()
print(sal_details2)

{'base_salary': 100000.0, 'bonus': 25000.0, 'gross_salary': 125000.0, 'tax': 18750.0, 'net_salary': 106250.0}

In [19]:
s2.get_base_salary()

100000.0

# Multilevel Inheritance
Parent->child->grant child->....

In [20]:
class Employee2:

    def __init__(self, emp_id: int, name: str):
        self.emp_id = emp_id
        self.name = name

    def get_employee_info(self):
        print(f"Employee Id : {self.emp_id}, Name : {self.name}")

In [21]:
class Manager(Employee2):

    def __init__(self, emp_id: int, name: str, dept: str):
        super().__init__(emp_id, name)
        self.dept = dept

    def get_manager_departement(self):
        print(f"Departement of Manager : {self.dept}")

In [22]:
class ProjectManager(Manager):

    def __init__(self, emp_id: int, name: str, dept: str, project: str):
        super().__init__(emp_id, name, dept)
        self.project = project

    def get_project_name(self):
        print(f"Project Name : {self.project}")

In [23]:
e2 = Employee2(emp_id=108, name="Sarthak")
print(type(e2))

<class '__main__.Employee2'>

In [24]:
e2.emp_id

108

In [25]:
e2.name

'Sarthak'

In [26]:
e2.get_employee_info()

Employee Id : 108, Name : Sarthak

In [28]:
m2 = Manager(emp_id=103, name="Aditi", dept="Engineering")
print(type(m2))

<class '__main__.Manager'>

In [29]:
m2.emp_id

103

In [30]:
m2.name

'Aditi'

In [31]:
m2.dept

'Engineering'

In [32]:
m2.get_manager_departement()

Departement of Manager : Engineering

In [33]:
# Inherited from Employee2 class
m2.get_employee_info()

Employee Id : 103, Name : Aditi

In [34]:
m2.get_employee_info()
m2.get_manager_departement()

Employee Id : 103, Name : Aditi
Departement of Manager : Engineering

In [35]:
pm2 = ProjectManager(
    emp_id=102, name="Rahul", dept="Engineering", project="Tesla Drivetrain"
)
print(type(pm2))

<class '__main__.ProjectManager'>

In [36]:
pm2.emp_id

102

In [37]:
pm2.name

'Rahul'

In [38]:
pm2.dept

'Engineering'

In [39]:
pm2.project

'Tesla Drivetrain'

In [40]:
pm2.get_project_name()

Project Name : Tesla Drivetrain

In [41]:
pm2.get_manager_departement()

Departement of Manager : Engineering

In [42]:
pm2.get_employee_info()

Employee Id : 102, Name : Rahul

In [43]:
pm2.get_employee_info()
pm2.get_manager_departement()
pm2.get_project_name()

Employee Id : 102, Name : Rahul
Departement of Manager : Engineering
Project Name : Tesla Drivetrain

# Hietarchical Inheritance
single parent but multiple child class

In [44]:
class Shape:

    def perimeter(self):
        pass

    def area(self):
        pass

    def get_info(self):
        print(f"Perimeter : {self.perimeter():.2f}, Area : {self.area():.2f}")

In [45]:
class Rectangle(Shape):

    def __init__(self, width: float, height: float):
        self.width = width
        self.height = height

    def perimeter(self):
        return 2 * (self.width + self.height)

    def area(self):
        return self.width * self.height

In [46]:
import math


class Circle(Shape):

    def __init__(self, radius: float):
        self.radius = radius

    def perimeter(self):
        return 2 * math.pi * self.radius

    def area(self):
        return math.pi * (self.radius**2)

In [47]:
s1 = Rectangle(width=20, height=15)
print(type(s1))

<class '__main__.Rectangle'>

In [48]:
s1.width

20

In [49]:
s1.height

15

In [52]:
s1.perimeter()

70

In [53]:
s1.area()

300

In [54]:
s1.get_info()

Perimeter : 70.00, Area : 300.00

In [55]:
s2 = Circle(radius=35)
print(type(s2))

<class '__main__.Circle'>

In [56]:
s2.perimeter()

219.9114857512855

In [57]:
s2.area()

3848.4510006474966

In [58]:
s2.get_info()

Perimeter : 219.91, Area : 3848.45

In [59]:
s = [
    Circle(radius=14),
    Rectangle(width=30, height=20),
    Circle(radius=50),
    Rectangle(width=100, height=80),
]

In [60]:
for i in s:
    print(type(i))
    i.get_info()

<class '__main__.Circle'>
Perimeter : 87.96, Area : 615.75
<class '__main__.Rectangle'>
Perimeter : 100.00, Area : 600.00
<class '__main__.Circle'>
Perimeter : 314.16, Area : 7853.98
<class '__main__.Rectangle'>
Perimeter : 360.00, Area : 8000.00