# OOP
1. Class is similar to blue print
2. One class can have multiple objects.

In [1]:
age = 23
print(type(age))

<class 'int'>

In [2]:
marks = 89
print(type(marks))

<class 'int'>

# Dataframe Class

In [3]:
s = {
    "roll_no": [101, 102, 103, 104],
    "name": ["Rahul", "Raman", "Aditi", "Sarthak"],
    "marks": [89, 93, 67, 83],
}
print(type(s))

<class 'dict'>

In [4]:
import pandas as pd

df = pd.DataFrame(s)
df

   roll_no     name  marks
0      101    Rahul     89
1      102    Raman     93
2      103    Aditi     67
3      104  Sarthak     83

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# Dataframe Atributes


1. df.shape
2. df.columns
3. df.index
4. df.values
5. df.size
6. df.dtypes

In [6]:
df.shape

(4, 3)

In [7]:
df.columns

Index(['roll_no', 'name', 'marks'], dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
df.values

array([[101, 'Rahul', 89],
       [102, 'Raman', 93],
       [103, 'Aditi', 67],
       [104, 'Sarthak', 83]], dtype=object)

In [10]:
df.dtypes

roll_no     int64
name       object
marks       int64
dtype: object

In [11]:
df.size

12

# Functions or Methods of Class Dataframe

1. df.info()
2. df.sort_values()
3. df.group_by()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  4 non-null      int64
 1   name     4 non-null      object
 2   marks    4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [13]:
df.mean(numeric_only=True)["marks"]

np.float64(83.0)

In [14]:
df.sort_values(by="marks", ascending=False)

   roll_no     name  marks
1      102    Raman     93
0      101    Rahul     89
3      104  Sarthak     83
2      103    Aditi     67

# Class

In [18]:
class Person:

    # Use a constructor function __init__ to define attributes of a class
    def __init__(self, name: str, age: int, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # Can create any other methods
    def intro(self):
        print(f"Hi there my name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

# __main__ in python means current file

In [19]:
p1 = Person(name="Sarthak", age=25, gender="male", occupation="Engineer")
print(p1)

<__main__.Person object at 0x000001D02005B5F0>

In [20]:
print(type(p1))

<class '__main__.Person'>

In [21]:
p1.name

'Sarthak'

In [22]:
p1.age

25

In [23]:
p1.intro

In [24]:
p1.intro()

Hi there my name is Sarthak
I am 25 years old
I am male
I work as a Engineer

In [25]:
p2 = Person(name="Arya", age=21, gender="male", occupation="HR")
print(p2)

<__main__.Person object at 0x000001D02000BD10>

In [26]:
print(type(p2))

<class '__main__.Person'>

In [27]:
p2.name

'Arya'

In [28]:
p2.age

21

In [29]:
p2.intro()

Hi there my name is Arya
I am 21 years old
I am male
I work as a HR

You can change attributes for an object

In [30]:
p2.occupation

'HR'

In [31]:
p2.occupation = "Data Scientist"

In [34]:
p2.occupation

'Data Scientist'

# Dunder Function
1. __repr__ -> proprer representation for class
2. __str__ -> print representation for class

# Method 1 using Dunder Class

In [46]:
class Person2:
    def __init__(self, name: str, age: int, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def __repr__(self):
        return (
            f"Person(name={self.name},"
            f"age={self.age}, gender={self.gender},occupation={self.occupation})"
        )

    def __str__(self):
        return f"name:{self.name},age:{self.age},gender:{self.gender},occ:{self.occupation}"

    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [47]:
p3 = Person2(name="Rahul", age=35, gender="male", occupation="Purchase Engg.")
p3

Person(name=Rahul,age=35, gender=male,occupation=Purchase Engg.)

In [48]:
print(p3)

name:Rahul,age:35,gender:male,occ:Purchase Engg.

In [49]:
p3.age

35

In [50]:
p3.name

'Rahul'

In [51]:
p3.intro()

My name is Rahul
I am 35 years old
I am male
I work as a Purchase Engg.

In [52]:
print(type(p3))

<class '__main__.Person2'>

# Method 2
Alternate way to create classes using -> dataclasses

In [55]:
from dataclasses import dataclass
from typing import Literal


@dataclass
class Person3:
    name: str
    age: int
    gender: Literal["male", "female"]  # used to have only male or female as o/p
    occupation: str

    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [56]:
p4 = Person3(name="Raj", age=15, gender="male", occupation="Student")
p4

Person3(name='Raj', age=15, gender='male', occupation='Student')

In [57]:
print(p4)

Person3(name='Raj', age=15, gender='male', occupation='Student')

In [58]:
p4.name

'Raj'

In [60]:
p4.age

15

In [61]:
p4.intro()

My name is Raj
I am 15 years old
I am male
I work as a Student

In [62]:
p4.intro

In [63]:
print(type(p4))

<class '__main__.Person3'>