# Exception Handling
Wheb you perform some incorrect operations you get an exception in python

In [1]:

a = 5
print(a / 0)

ZeroDivisionError: division by zero

In [2]:

b = "Example"
print(b / 12)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:

a = "28"
type(a)

str

In [4]:

b = int(a)
print(b, type(b))

28 <class 'int'>

In [5]:

c = "abc"
d = int(c)
print(3 + 5)

ValueError: invalid literal for int() with base 10: 'abc'

# Division function without exception handling

In [8]:
def division(a: float|int , b: float|int)->float:
    c=a/b
    return c

In [12]:
d1=division(21,7)

In [14]:
print(d1)
print("Completed")

3.0
Completed

In [16]:
d2=division(a=25,b=0)
print(d2)
print("Completed")

ZeroDivisionError: division by zero

In [34]:
d3=division(a='abc',v=10)
print(d3)
print("completed")

TypeError: division() got an unexpected keyword argument 'v'

# Generic Exception handling

In [18]:
help(Exception)

Help on class Exception in module builtins:

class Exception(BaseException)
 |  Common base class for all non-exit exceptions.
 |
 |  Method resolution order:
 |      Exception
 |      BaseException
 |      object
 |
 |  Built-in subclasses:
 |      ArithmeticError
 |      AssertionError
 |      AttributeError
 |      BufferError
 |      ... and 16 other subclasses
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  add_note(...)
 |      Exception.add_note(note) --
 |      add a note to the exception
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [21]:
def division2(num: int|float,den:int|float) ->float|None:
    try:
        div=num/den
        return div
    except Exception as e:
        print(f"Exception occured:{e}")

In [22]:
a=division2(num=100,den=10)
print(a)
print("Completed")

10.0
Completed

In [23]:
b=division2(num=25,den=0)
print(b)
print("Completed")

Exception occured:division by zero
None
Completed

In [24]:

c = division2(num="abc", den=4)
print(c)
print("Completed")

Exception occured:unsupported operand type(s) for /: 'str' and 'int'
None
Completed

In [25]:

d = division2(num="a", den="b")
print(d)
print("Completed")

Exception occured:unsupported operand type(s) for /: 'str' and 'str'
None
Completed

# Use differnent exceptions for each errors

In [30]:
def division3(num:int|float,den:int|float)->float|None:
    try:
        div=num/den
        return div
    except ZeroDivisionError:
        print("Deno of division cannot be zero")
    except TypeError:
        print("Provide number input for numerator and denominaor")
    except Exception as e:
        print(f"Unexpected exception :{e}")

In [32]:
a = division3(num=23,den=6)
print(a)
print("Completed")

3.8333333333333335
Completed

In [33]:
b = division3(num=35, den=0)
print(b)
print("Completed")

Deno of division cannot be zero
None
Completed

In [35]:
c= division3(num='abc',den=5)
print(c)
print("completed")

Provide number input for numerator and denominaor
None
completed

# You can also raise an error in python whenever required

In [37]:
def age_validator(age:int) ->int|None:
    if age<=0 or age>=100:
        raise ValueError("Age should be between 1 and 99")
    return age

In [39]:
a1=age_validator(25)
print(a1)

25

In [41]:
a2=age_validator(-23)
print(a2)

ValueError: Age should be between 1 and 99

In [42]:
a3=age_validator(200)
print(a3)

ValueError: Age should be between 1 and 99

In [43]:
a3=age_validator("abc")

TypeError: '<=' not supported between instances of 'str' and 'int'

In [44]:
# Input  24
try:
    input_age=int(input("Enter your age:"))
    validated_age=age_validator(input_age)
    print(f"Valid Age entered: {validated_age}")
except ValueError as e:
    print(f"Invalid age entered:{e}")

Valid Age entered: 24

In [45]:
#Input -3
try:
    input_age=int(input("Enter your age:"))
    validated_age=age_validator(input_age)
    print(f"Valid Age entered : {validated_age}")
except Exception as e:
    print(f"Invalid age entered : {e}")

Invalid age entered : Age should be between 1 and 99

In [46]:
#Input: abc
try:
    input_age=int(input("Enter your age:"))
    validated_age=age_validator(input_age)
    print(f"Valid Age entered : {validated_age}")
except Exception as e:
    print(f"Invalid age entered : {e}")

Invalid age entered : invalid literal for int() with base 10: 'abc'

# Other bloks
1. try - Code you want to run
2. except - If exception occurs in try block , exception block will be triggered
3. else - else block is executed only if try block is successful
4. finally - finally block is always executed in the end

In [47]:
import math

math.sqrt(23)

4.795831523312719

In [48]:
math.sqrt(4)

2.0

In [49]:
math.sqrt(-1)

ValueError: math domain error

In [50]:
math.sqrt("a")

TypeError: must be real number, not str

In [51]:
def square_root(num: int | float) -> float | None:
    try:
        s = math.sqrt(num)
    except Exception as e:
        print(f"Exception occured : {e}")
    else:
        print(f"Square root of number {num} is {s:.4f}")
        return s
    finally:
        print("Finally block is always executed")

In [53]:
s1 = square_root(num=16)

Square root of number 16 is 4.0000
Finally block is always executed

In [54]:
s1

4.0

In [55]:
s2 = square_root(num=12)

Square root of number 12 is 3.4641
Finally block is always executed

In [56]:
s2

3.4641016151377544

In [57]:
s3 = square_root(num=-15)

Exception occured : math domain error
Finally block is always executed

In [59]:
print(s3)

None

In [60]:
s5 = square_root(num="abc")

Exception occured : must be real number, not str
Finally block is always executed

In [61]:
s6 = square_root([1, 2, 3, 4])

Exception occured : must be real number, not list
Finally block is always executed

In [62]:
print(s6)

None

# File Handling
1. read a file - 'r'
2. write a new file - 'w'
3. append new line in a file - 'a'

In [63]:
# Writing a completely new file
with open("new.txt", "w", encoding="utf-8") as f:
    f.write("My Name is Utkarsh Gaikwad\n")
    f.write("I work as a data scientist\n")

In [64]:

# Reading the file
with open("new.txt", "r", encoding="utf-8") as f:
    content = f.read()

# Print the content
print(content)

My Name is Utkarsh Gaikwad
I work as a data scientist

In [65]:
# Add content in file append mode
with open("new.txt", "a", encoding="utf-8") as f:
    f.write("This line is added via append mode\n")
    f.write("This is another line added\n")

In [66]:

# Read the file contents
with open("new.txt", "r", encoding="utf-8") as f:
    lines = f.readlines()

# Print all the line
print(lines)

['My Name is Utkarsh Gaikwad\n', 'I work as a data scientist\n', 'This line is added via append mode\n', 'This is another line added\n']

In [67]:
type(lines)

list

In [68]:

for line in lines:
    print(line)

My Name is Utkarsh Gaikwad

I work as a data scientist

This line is added via append mode

This is another line added

In [69]:
for line in lines:
    print(line.strip())

My Name is Utkarsh Gaikwad
I work as a data scientist
This line is added via append mode
This is another line added

In [70]:

content = """
a = 23
b = 24
print(a * b)
"""

with open("add.py", "w", encoding="utf-8") as f:
    f.write(content)